@font-face {
    font-family: PopinReg;
        src: url('fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: PopinMed;
    src: url('fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: PopinSBold;
    src: url('fonts/Poppins/Poppins-SemiBold.ttf');
}
html{
    font-size:10px;
}



*{
    margin:0;
    padding:0;
}




 .navabar >.container {
    max-width:1716px;
    width:90%;
    margin:0 auto;
    padding:1.6rem 0; 
    /* background-color:black; */
   
   } 
.icon-container {
    width:200px;
  

} 
.icon{
    color:#FFFFFF;
    text-decoration:none;
    font-size:1.8rem;
}
.nav-link-text{
    font-family:"Poppins";
    font-size:1.8rem;
    color:#FFFFFF;
}
.nav-one{
    color:#000000;
    list-style-type:none;
}
.nav-text{
    font-family:"Poppins";
    font-size:2.1rem;
} 

.phone-whatsup{
    color:#FFFFFF;
    text-decoration:none;
    font-family:"Poppins";
    font-size:1.8rem;
}
.valuelogo{
    width:15rem;
}

@media screen and (min-width:320px) and (max-width:727px){
    .icon{
       font-size:1rem;
    }
    .nav-link-text{
       font-size:1rem;
     
    }
}
@media screen and (min-width:320px) and (max-width:727px){
    .nav-text{
      font-size:1.5rem;
    } 
    .valuelogo{
        width:10rem;
    }

}


.main-wrapper img{
     max-width:1920px;
     width:100%;
   

}

.main-wrapper{
    position:relative;
}
.main-content{
    position:absolute;
    top:20%; 
    width:100%;
    left:0;
    bottom:0; 
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0,1));
   

}
.digital{
    font-family:"Poppins";
    font-size:4.5rem;
    color:#FFFFFF;
}
.standards{
    font-family:"Poppins";
    font-size:5.2rem;
    color:#FFFFFF;
}
@media screen and (min-width:728px) and (max-width:1200px){
    .digital{
       font-size:3rem;
        color:#FFFFFF;
    }
.standards{
    font-family:"Poppins";
    font-size:3rem;
    color:#FFFFFF;
}

}

@media screen and (min-width:320px) and (max-width:727px){
    
    .digital{
       font-size:0.8rem;        
    }
.standards{
    font-size:1rem;
    
}

}
.form-values{
    position:relative;
}
.form-container{
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translate(-50%,-50%);
     max-height: 206px;
    height: 140px;
    max-width: 1716px;
     width: 90%; 
     padding:2.5rem;
    background-color: #F43535;
}

.input-field {
    width:200px;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    margin: 1.5rem;
    font-family:"poppins-regular";
    font-size: 1.4rem;
    
}
::-webkit-input-placeholder {
    color: #ffffff;
}

.request-text {
    font-size:1.8rem;
    font-family:"Poppins";
    color:#FFFFFF;

}
.risk-text{
    font-weight:"SemiBold";
    font-size:2.2rem;
    font-family:"Poppins";
    
}
.request-btn{
    width:130px;
    height:60px;
    background-color:#DD4444 ;
    border:1px solid #707070;
    color:#FFFFFF;
    font-family:"Poppins";
    font-size:1.5rem;
}

 @media screen and (min-width:728px) and (max-width:1250px){
    .form-container{
        max-width: 1050px;
       /* height: 130px; */
         padding:2rem;
       
    } 
    .input-field {
        /* width:100px;  */
        margin:1rem;
       
    }

    .request-text {
        font-size:1.5rem;
      
    
    }
    .risk-text{
       font-size:2rem;
       
        
    }
    .request-btn{
        width:100px;
        height:40px;
        font-size:1rem;
    }
} 

@media screen and (min-width:320px) and (max-width:727px){
    .form-inputs{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;

    }
    .form-container{
        max-width: 200px;
        height:100px;
        padding:0;
       
    }
    .input-field {
         width:50px; 
        margin:5px;
        font-size:0.4rem;
       
    }

    .request-text {
        font-size:0.8rem;
        text-align:center;
    
    }
    .risk-text{
       font-size:0.8rem;
       text-align:center;
       
        
    }
    .request-btn{
        width:20px;
        height:10px;
        font-size:0.2rem;
    }




}
.marketing-text{
     max-width:1962px;
    width:100%;
}

.text-content{
     max-width:1429px; 
     padding:10rem 20.4rem 5rem 20.4rem; 
    font-size:3rem;
    color:#000000;
   
    
}
@media screen and (min-width:728px) and (max-width:1024px){
    .text-content{
    font-size:2rem;
    padding:9rem 10.8rem 4rem  10.0.8rem; 
}
}
@media screen and (min-width:320px) and (max-width:727px){
    .text-content{
        font-size:8px;
        padding:6rem 2rem 2rem 2rem; 
    }
    } 



    
     .value-numbers{
         width:100%; 
         height:100%; 
         /* min-height:200px; */
        background: linear-gradient(to left,rgba(224,229,232,0),rgba(226,231,232,1),rgba(226,231,232,1),rgba(224,229,232,0)); 
        
       
    }
    .valuehead{
        font-family:"Poppins";
        font-size:5rem;
        color:#000000;
    }
    
     /* .card{
        width: 369px;
       background-color:rgba(110,123,136,0.06)!important;
         background-color:red;
        border-color: transparent;
         box-shadow: #000000;
        color:#000000; 
        margin:0rem 0.8rem;
       
    }  */
   
    .count{
        font-family: "Poppins";
        font-size: 6rem;
        font-weight: 200;
      
    }
    .card-title{
        font-family: Poppins;
        font-size: 1.6rem;
        font-weight: 700;
       
    }
    .count-subtitle{
        font-family: "Poppins";
        font-size: 1.7rem;
        font-weight: 400;
       
    }

    @media screen and (min-width:320px) and (max-width:727px){
      
        .valuehead{
            font-size:3rem;
           
        }
         
    
    }
    .vision{
        font-family:"Poppins";
        font-size:4.5rem;
        color:#FFFFFF;
    }
    .visionsubtitile{
        font-family:"Poppins";
        font-size:2.2rem;
        color:#FFFFFF;

    }
 
    .mission1{
        background-color:#242424;

    }

    .mission2{
        background-color:#000000;

    }
    @media screen and (min-width:320px) and (max-width:727px){
        .vision{
            font-size:2.5rem;
            
        }
        .visionsubtitile{
            font-size:1.5rem;
            
    
        }

    }
